# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.venv/
env/
venv/
ENV/

# OS Files
.DS_Store
Thumbs.db

# Project specific temp files
segmented/
captcha.png
captcha_sample_*.png
EXPORT_CUSTOM.XLSX
EXPORT_UPDATED.XLSX
*.log
